<form method="POST" action="{{ action }}" target="{{ target }}">
{% for key, value in vars %}
  <input type="hidden" name="{{ key }}" value="{{ value }}">
{% endfor %}
  <button class="sp-button sp-button-style-{{ style }} sp-button-size-{{ size }}" type="submit">
    <div class="sp-button-side">
      <span class="sp-button-logo"></span>
    </div><div class="sp-button-content">{{ label|raw }}
    </div>
  </button>
</form>
