<form class="paypal-button" method="POST" action="{{ action }}" target="{{ target }}">
{% for key, value in vars %}
  <input type="hidden" name="{{ key }}" value="{{ value }}">
{% endfor %}
  <button class="paypal-button paypal-style-{{ style }} paypal-size-{{ size }}" type="submit">
    <span class="paypal-button-logo">
      <img src="">
    </span><span class="paypal-button-content">{{ label }}</span>
  </button>
</form>
